.input {
  border: 0;
  color: inherit;
  font-weight: 500;
  font-size: 1rem;
  background: transparent;
  width: 100%;
}

.search-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin-top: 20px;
  border: 2px solid #d2d6db;
  gap: 4px;
  padding: 6px;
  border-radius: 4px;
  background: #ffffff;
}
